{% set bungaConfig = pages.get('/configuration') %}
<!doctype html>
<html>
<head>
	<meta charset="UTF-8"/>
	<meta name="keywords" content="{{ page.metaKeyword }}"/>
	<meta name="description" content="{{ page.metaDescription }}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no"/>
	<title>
		{% if page.htmlTitle != "" %}
			{{ page.htmlTitle }}
		{% else %}
			{{ page.title }}
		{% endif %}
	</title>
	{% block style %}
		<link rel="stylesheet" href="{{ config.urls.root }}bower/bootstrap/dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="{{ config.urls.root }}bower/bootstrap/dist/css/bootstrap-theme.min.css"/>
		<link rel="stylesheet" href="{{ config.urls.root }}bower/fancybox/source/jquery.fancybox.css"/>
	{% endblock %}
	<link rel="stylesheet" href="{{ config.urls.templates }}style/main.css"/>
	<link rel="stylesheet" href="{{ config.urls.templates }}style/hot.css"/>


	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->

	{% block script %}
		<script src="{{ config.urls.root }}bower/jquery/jquery.min.js"></script>
		<script src="{{ config.urls.root }}bower/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="{{ config.urls.root }}bower/fancybox/source/jquery.fancybox.pack.js"></script>
		<script src="{{ config.urls.root }}bower/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
		<script src="{{ config.urls.root }}bower/jquery-cycle2/build/jquery.cycle2.min.js"></script>
	{% endblock %}
	<script src="{{ config.urls.templates }}script/main.min.js"></script>
	<script src="{{ config.urls.templates }}script/hot.js"></script>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="{{ config.urls.root }}">Bunga Wire</a>
	</div>

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		{% block navigation %}
			{% set treeMenu = modules.get("MarkupSimpleNavigation") %}
			{% set treeMenuOption = {"outer_tpl":"<ul class=\"nav navbar-nav\">||</ul>"} %}
			{{ treeMenu.render(treeMenuOption) }}
		{% endblock %}
	</div>
</nav>

{% block content %}
{% endblock %}

</body>
</html>